.box {
  background-color: aliceblue;
  border: none;
  border-radius: 20%;
  text-align: center;
  font-size: 100px;
  font-family: 'Fredoka', sans-serif;
  margin: 8px;
  width: 130px;
  height: 130px;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

.box:hover {
  background-color: lightgray;
}

.box:active {
  background-color: lightgray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.x {
  color: lightseagreen;
}

.o {
  color: turquoise;
}